example_site:
    feed: FEED_URL
    consumer_key: COMSUMER_KEY
    consumer_secret: CONSUMER_SECRET
    access_token: OAUTH_TOKEN
    access_token_secret: OAUTH_TOKEN_SECRET
    start_from: YYYY-MM-DD
